@import url("https://fonts.googleapis.com/css2?family=Crete+Round&display=swap");

* {
  margin: 0;
}

header {
  display: flex;
  background: #3e3c3c;
  color: white;
  height: 52px;
  font-size: 13px;
  justify-content: space-between;
  align-items: center;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: inline-flex;
  padding-right: 30px;
}

li a {
  flex-direction: column;
  padding-right: 25px;
  color: white;
  text-decoration: none;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
}

.logo {
  padding-left: 30px;
}

.logo a {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  text-decoration: none;
  color: white;
}

.headline {
  height: 100vh;
  background-color: black;
  background-image: url("/images/Illustration-header@2x.png");
  background-position: right top;
  background-repeat: no-repeat;
}

.info {
  width: 50vh;
  padding-left: 20vh;
  padding-top: 20vh;
}

h1 {
  font-family: "Crete Round", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 56px;
  letter-spacing: 0.37px;
  color: #ff6b00;
}

h2 {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  color: #fff;
}

p {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  color: #f4f5f7;
  padding-top: 20px;
}
