* {
  background-color: black;
}
header {
  display: flex;
  background-color: #3e3c3c;
  color: white;
  height: 52px;
  font-size: 13px;
  justify-content: space-between;
  align-items: center;
}
ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
  display: inline-flex;
  padding-right: 30px;
}

li a {
  flex-direction: column;
  padding-right: 25px;
  color: white;
  text-decoration: none;
}

.logo {
  padding-left: 30px;
}

.headline {
  height: 600px;
  background: black;
}

.info {
  width: 50vh;
  padding-left: 20vh;
  padding-top: 20vh;
}

h1 {
  font-family: "Crete Round";
  font-style: normal;
  font-weight: 400;
  font-size: 56px;
  letter-spacing: 0.37px;
  color: #ff6b00;
}

h2 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  color: #fff5e1;
}

p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #ffffff;
}
